*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container-fluid{
    background-color: #181818;
    margin-top: 0;
    overflow: hidden;
    display: flex;
    height: 80px;
    justify-content: space-between;
    
}



.top-side {
    display:inline-flex;
    text-align:center;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight:normal;
    float: left;
    padding-left:55px;
 }
 .icons{
    padding-top:5px;
    padding-right: 10px;
    height: 100px;
    width: 100px;
    float: left;
 }

.logo{
   width: 100px;
   height: 50px;
   padding-top:11px ;
   padding-left: 40px;
    float: left;
}

.footer{
    margin: 0;
    width: 100%;
    height: auto;
    background-color:#181818;
    font-size: 1.3rem;
    
}
.footer-top{
    width: 65%;
    height: 60px;
    margin-right: -20px;
    margin-left: 20px;
    margin: inline;
    padding-top: 60px;
}

.Company{
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    padding-inline-start: 30px;
}
.Company:hover{
    color: aliceblue;
    text-decoration-line: underline;
}
.CAREERS{
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    padding-inline-start: 30px;
}
.CAREERS:hover{
    color: aliceblue;
    text-decoration-line: underline;
}
.CONTACT-US{
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    padding-inline-start: 30px;
}
.CONTACT-US:hover{
    color: aliceblue;
    text-decoration-line: underline;
}

.SUSTAINABILITY{
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    padding-inline-start: 30px;
}
.SUSTAINABILITY:hover{
    color: aliceblue;
    text-decoration-line: underline;
}

.MEDIA{
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    padding-inline-start: 30px;
}
.MEDIA:hover{
    color: aliceblue;
    text-decoration-line: underline;
}


.PRIVACY{
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    padding-inline-start: 30px;
}
.PRIVACY:hover{
    color: aliceblue;
    text-decoration-line: underline;
    padding-inline-start: 30px;
}


.SETTINGS{
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    padding-inline-start: 30px;
}
.SETTINGS:hover{
    color: aliceblue;
    text-decoration-line: underline;
}


.SITEMAP{
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    padding-inline-start: 30px;
}
.SITEMAP:hover{
    color: aliceblue;
    text-decoration-line: underline;
}


.NEWSLETTER{
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    padding-inline-start: 30px;
}
.NEWSLETTER:hover{
    color: aliceblue;
    text-decoration-line: underline;
}


.footer-bottom1{
    margin: 0;
    margin-top: 50px;
    padding-left: 40px;
    padding-top: 30px;
    width: 100%;
    text-align:start;
    height: 300px;
    font-weight: 300;
    line-height: 2.8rem;
    margin-bottom: 0;
    color: #fff;
}
.container-fluids{
    margin-top:0;
    margin-bottom: auto;
    width: 100%;
    left: auto;
    font-size: 20px;
    background-color: #181818;
    opacity: .8;
    color: #fff,10.0;
    padding-left: 50px;
    margin-bottom: -17px;
}
.navbar{
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-top: 10px;
    height: 80px;
    
}

body{
    margin: 0;
    width: 100% auto;
    font-family: Roboto,Helvetica Neue,Arial;
    
}